<!DOCTYPE html>
{% load static %}
<html>
    <!-- head contains meta data -->
    <head>
        <meta charset="utf-8">
        <title>Level 5 APP</title>
        
        <!-- Bootstrap CSS can be also be downloaded locally -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
    </head>
    <!-- here is the page content -->
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{% url 'l5app:index' %}">INDEX</a></li>
                    
                    <li><a class="navbar-link" href="{% url 'l5app:register' %}">Register</a></li>
                    <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>

                    {% if user.is_authenticated %}
                    
                        <li><a class="navbar-link" href="{% url 'l5app:user_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="navbar-link" href="{% url 'l5app:user_login' %}">Login</a></li>
                    {% endif%}
                    
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}

            {% endblock %}
        </div>        
    </body>
</html>