<!DOCTYPE html>
{% extends "app1/base_app.html" %}

{% block body_block %}
    <div class="jumbotron">
        <div>
            <h1> 
                {% if not form.instance.pk %}
                    Create School
                {% else %}
                    Update School
                {% endif %}
            </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>

        </div>
        
    </div>
{% endblock %}