<!DOCTYPE html>
{% load static %}
<html>
    <!-- head contains meta data -->
    <head>
        <meta charset="utf-8">
        <title>Level3 APP</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}"> <!-- -->
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
    </head>
    <!-- here is the page content -->
    <body>
        <div class="container">
            <div class="jumbotron"> 
                <h1>This is index.html Level3</h1>
                <h2>Go to forms</h2>

            </div>
        </div>
        
        
        
    </body>
</html>